@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');


@layer base{
    html,body{
        font-family:'Open Sans', sans-serif;

        overflow-x: hidden;
        @apply antialiased
        
    }
   
}

.flag-select button {
@apply h-14 border-2 border-gray-300 md:pl-1 md:ml-4 gap-y-1 font-medium bg-white md:-mr-4 transition-colors  hover:border-secondary-brand-color
}

    .ReactCollapse--collapse {
        @apply transition-all
    }
.yemek{
    width:100%;
    height: 100vh;

}
.text-xxs{
    font-size: 0.70rem/* 12px */;   
    line-height: 0.75rem/* 16px */;
}
.border-x-y{
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;

}
#phone-input-container {
    @apply h-16 w-auto sm:w-[350px] flex border-2 hover:border-primary-brand-color transition-all  border-gray-200 rounded-md flex-col items-center justify-center
}
   
video{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.nav-item:active {
    @apply bg-purple-500;
}
.map-container {
    @apply w-full h-96 rounded-lg;
}
.dropdown:focus-within .dropdown-menu {
    opacity:1;
    transform: translate(0) scale(1);
    visibility: visible;
  }